body {
  /* background: #554c48cc; */
  font-family: 'Philosopher', sans-serif;
  color: #000;
}

.nav-item {
  border-bottom: 1px solid #6c757d;
}

.navbar {
  border-bottom: 1px solid #6c757d;
}

.navbar-brand {
  position: absolute;
  top: 0.5em;
  right: 0.2em;
  border: 1px solid #cccfd1;
  padding: 0 1em;
  border-radius: 5px;
  cursor: pointer;
}

.nav-link {
  font-size: 1.3rem;
  line-height: 1.1;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

.main-wrapper {
  margin: 1em;
  padding: 0.5em;
}
/* .main {
  overflow: hidden;
} */

.jumbotron {
  /* opacity: 0.5; */
  position: relative;
  min-height: 90vh;
  text-align: center;
}

.zapis-button {
  width: 200px;
  margin: 2em auto 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .zapis-button {
    bottom: 50%;
  }
}

@media screen and (min-width: 990px) {
  .navbar-brand {
    position: static;
    border: none;
  }
}

.main-poster {
  position: relative;
}
.main-logo {
  position: absolute;
  max-width: 50vw;
  left: 10em;
  bottom: 15em;
}
.zapis__jumbo .jumbotron {
  text-align: left;
}
.main-image {
  margin: 1em;
  opacity: 0.5;
}

.main__orn {
  /* background: transparent url(./images/1.jpg) repeat-x center; */
  height: 250px;
  /* background-size: contain; */
  /* opacity: 0.3; */
  width: 100%;
}

.akcii {
  /* background: transparent url(./images/2.jpg) no-repeat center; */
  /* background-size: contain; */
  height: 600px;
  width: 100%;
  /* opacity: 0.5; */
}

.divider {
  margin: 1em 0;
  /* border-top: 1px solid #58a95e; */
}

.address-wrapper {
  border-radius: 1em;
  /* border: 1px solid #58a95e; */
  padding: 1em;
}

.contacts {
  margin: 1em 0;
}
.addr {
  margin: 0 auto;
}

.footer-title-wrap {
  display: flex;
  align-items: center;
}

.footer-title {
  width: 100%;
  text-align: center;
}

.call-btn {
  margin: 1em auto;
  text-transform: uppercase;
  font-size: 1.4em;
}

.copy {
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

.form-control {
  color: #000;
  margin: 0.3em 0;
}

::-webkit-input-placeholder {
  /* Chrome */
  color: #000;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #000;
  opacity: 1;
}

.zapis__jumbo .jumbotron {
  position: relative;
  min-height: 60vh;
  text-align: left;
}

.zapis-title {
  border-bottom: 1px solid #6c757d;
}

.zapis-menu-wrapper {
  margin-top: 2em;
}

#zapis-accordion .btn-link {
  font-size: 1.5rem;
  color: inherit;
  width: 90%;
  text-align: left;
  position: relative;
}

#zapis-accordion .btn-link .card-pointer {
  position: absolute;
  right: 0.5em;
}

#zapis-accordion .card-header {
  padding: 0.75rem 0;
}

#zapis-accordion hr {
  margin: 0;
}

#zapis-accordion .media {
  padding: 1em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
