root {
  --menu-h: rgba(0, 0, 0, 0.7);
  --navH: 65px;
}


body {
  /* background: #554c48cc; */
  font-family: 'Philosopher', sans-serif;
  color: #000;
}

.nav-item {
  border-bottom: 1px solid #6c757d;
}

.navbar {
  border-bottom: 1px solid #6c757d;
  background: #ffffff;
  height: 65px;
}

#navbarNav {
  background: #FFF;
}

.navbar-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}


.navbar-brand {
  position: absolute;
  top: 0.5em;
  right: 0.2em;
  border: 1px solid #cccfd1;
  padding: 0 1em;
  border-radius: 5px;
  cursor: pointer;
}

.nav-link {
  font-size: 1.3rem;
  line-height: 1.1;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 990px) {
  .navbar-brand {
    position: static;
    border: none;
  }
}

/* ---------------------------------------------- */

.main-wrapper {
  margin: 1em;
  padding: 0.5em;
}
.main {
  padding-top: 65px;
}

.jumbotron {
  /* opacity: 0.5; */
  position: relative;
  min-height: 90vh;
  text-align: center;
}


.zapis-button {
  width: 250px;
  margin: 0 auto;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .zapis-button {
    bottom: 50%;
  }
}

.main__image {
  height: 270px;
  background: transparent url('./images/1-bg.jpg') no-repeat center;
  background-size: cover;
  margin-top: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.main-poster {
  position: relative;
}
.main-logo {
  position: absolute;
  max-width: 50vw;
  left: 10em;
  bottom: 15em;
}
.zapis__jumbo .jumbotron {
  text-align: left;
}
.main-image {
  margin: 1em;
  opacity: 0.5;
}


.divider {
  margin: 1em 0;
  /* border-top: 1px solid #58a95e; */
}

.address-wrapper {
  border-radius: 1em;
  /* border: 1px solid #58a95e; */
  padding: 1em;
}

.contacts {
  margin: 1em 0;
}
.addr {
  margin: 0 auto;
}

.footer-title-wrap {
  display: flex;
  align-items: center;
}

.footer-title {
  width: 100%;
  text-align: center;
}

.call-btn {
  margin: 1em auto;
  text-transform: uppercase;
  font-size: 1.4em;
}

.copy {
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

.form-control {
  color: #000;
  margin: 0.3em 0;
}

/* PRICE */

.price-list {
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  padding-left: 1.5em;
  margin-top: 2em;
}

.price-item {
  margin: 0.2em 0;
  text-align: right;
  margin-bottom: 1em;
}

.price-dots {
  flex-grow: 1;
  border-bottom: 1px dashed #000;
  margin: 0 0.2em 5px;
}

.price-name {
  display: flex;
  margin-bottom: 0.5em;
  text-align: left;
}

.price__icon {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.price__icon-1 {
  background: transparent url('./images/icons/comb.png') no-repeat center;
  background-size: contain;
}

.price__icon-2 {
  background: transparent url('./images/icons/chair.png') no-repeat center;
  background-size: contain;
}

.price__icon-3 {
  background: transparent url('./images/icons/mash.png') no-repeat center;
  background-size: contain;
}

.price__icon-4 {
  background: transparent url('./images/icons/sciss1.png') no-repeat center;
  background-size: contain;
}

.price__icon-5 {
  background: transparent url('./images/icons/edge1.png') no-repeat center;
  background-size: contain;
}

.price__icon-6 {
  background: transparent url('./images/icons/head1.png') no-repeat center;
  background-size: contain;
}


/* MASTERS */

.masters__jumbo {
  padding-bottom: 2em;
  background-color: #e9ecef;
}

.masters__name {
  padding: 0.5em 0;
}

.masters__name-right {
  text-align: right;
}

.masters__image {
  height: 300px;
}

.masters__image-serg {
  background: transparent url(./images/barber1.jpg) no-repeat 20% 50%;
  background-size: contain;
}

.masters__image-vad {
  background: transparent url(./images/barber1.jpg) no-repeat 60% 50%;
  background-size: contain;
}

/* ATMO */

.atmosphere__jumbo {
  background-color: #e9ecef;
}

.atmosphere__title {
  margin-bottom: 1em;
}

.atm-list {
  display: flex;
}

.atm-column {
  padding: 0;
  list-style: none;
}

.atm-column:first-child {
  margin-right: 0.5em;
}

.atm-column span {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.1em;
}

.atm__item {
  height: 100px;
  padding: 0.2em;
  margin-bottom: 1em;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.7);
  /* line-height: 1.1em; */
}

.atm__item-obr {
  background: transparent url('./images/5.jpg') no-repeat center;
  background-size: cover;
}

.atm__item-water {
  background: transparent url('./images/6.jpg') no-repeat center;
  background-size: cover;
}

.atm__item-tea {
  background: transparent url('./images/7.jpg') no-repeat center;
  background-size: cover;
}

.atm__item-wf {
  background: transparent url('./images/8.jpg') no-repeat center;
  background-size: cover;
}

.atm__item-good {
  background: transparent url('./images/9.jpg') no-repeat center;
  background-size: cover;
}


.atm__item-stone {
  background: transparent url('./images/10.jpg') no-repeat center;
  background-size: cover;
}

input[type='text']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #000;
  font-family: 'Philosopher', sans-serif;
}

input[type='text']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
  font-family: 'Philosopher', sans-serif;
}
input[type='text']::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  font-family: 'Philosopher', sans-serif;
  opacity: 1;
}

.zapis__jumbo .jumbotron,
.price__jumbo,
.masters__jumbo,
.testimonials__jumbo,
.atmosphere__jumbo,
.talisman__jumbo {
  position: relative;
  min-height: 60vh;
  text-align: left;
}

.section-title {
  border-bottom: 1px solid #6c757d;
  margin-bottom: 2rem;
}

/* ZAPIS */

.zapis-back-icon {
  background: transparent url('./images/back.svg') no-repeat center;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.zapis-menu-wrapper {
  margin-top: 2em;
}

#zapis-accordion .btn-link {
  font-size: 1.5rem;
  color: inherit;
  width: 90%;
  text-align: left;
  position: relative;
}

#zapis-accordion .btn-link .card-pointer {
  position: absolute;
  right: 0.5em;
}

#zapis-accordion .card-header {
  padding: 0.75rem 0;
}

#zapis-accordion hr {
  margin: 0;
}

#zapis-accordion .media {
  padding: 1em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* FOOTER */

.footer-menu-wrap {
  position: sticky;
  bottom: 0;
  left: 0;
}

.footer-menu {
  background: #fff;
  opacity: 0.75;
  height: var(--menu-h);
  border-top-width: 4px;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-top-style: solid;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-wrap: nowrap;
  overflow: auto;
}

.footer-menu__link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.1em;
  line-height: 1;
  padding: 0.5em 1em;
}

.footer-menu__link:active, .footer-menu__link:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
